* { margin: 0; padding: 0; box-sizing: border-box; }
body
{
  font: 13px Helvetica, Arial;
  padding: 1vw;
  background-color: #43464B;
  font-family: "Impact", "Arial Black";
}

/*
* General
*/
h1{font-size: 60px; }
h2{font-size: 40px;}
h3{font-size: 28px;}
button{font-family: "Arial Black", "Impact";}

/*
* Title Box
*/

#titleBox
{
  padding: 20px;
  background-color: #8080A0;
  border: 2px solid rgba(0, 0, 0, 1);
  
  height: 140px;
  width: 98vw;
  min-width: 980px;
  
  text-align: center;
}

/*
* General Screens
*/

#mainBox, #screenLobby, #screenTurn, #screenEnd
{
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 1);
  
  background-color: #778899;
  height: 40vw;
  width: 98vw;
  min-height: 400px;
  min-width: 980px;
}

/*
* Game Screen
*/

#mainBox
{
  display: flex;
  justify-content: space-between;
}

#leftColumn
{
  height: 100%;
  width: 83%;
  
  display: flex;
  justify-content: space-around;
  
  background-color: #ADCEF5;
  padding: 10px;
}

#rightColumn
{
  height: 100%;
  width: 15%;
  background-color: #97C5F9;
  text-align: center;
  padding: 10px 0 0 0;
}

.gameGrid
{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  width: 36vw;
  height: 36vw;
  min-width: 360px;
  min-height: 360px;
}

.gridCell
{
	border: 4px solid;
	border-color: rgba(0, 0, 0, 1);
  background-color: #54A4DE;
  
	padding: 15px;
	height: 4.5vw;
	width: 4.5vw;
  min-width: 45px;
  min-height: 45px;
}

#resetButton
{
  height: 45px;
  width: 110px;
  font-size: 28px;
}

#turnButton
{
  height: 60px;
  width: 100%;
  font-size: 28px;
}

#battleGridOpponent{cursor: pointer;}

/*
* Lobby and Turn Screens
*/

#screenLobby, #screenTurn
{
  padding: 15vw 0;
  text-align: center;
}

.screenButton
{
  height: 100px;
  width: 290px;
  font-size: 50px;
  font-family: "Arial Black";
}

/*
* End Screen
*/

#screenEnd
{
  text-align: center;
}

#endBox
{
  display: flex;
  justify-content: space-around;
  height:300px;
}

#endLeft, #endRight
{
  height: 80%;
  width: 30%;
  background-color: #97C5F9;
}

/*
* Lists
*/

.headerBar
{
  margin: 5px;
  padding: 2px;
  height: 35px;
  display: flex;
  text-align: center;
  background-color: #A0A0A0;
}

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 70%;
  max-height: 70%;
  overflow: auto;
  font-family: "Georgia", "Times New Roman";
  text-align: left;
}
ul li
{
  padding: 5px 10px;
  width: 100%
}
ul li:nth-child(odd) {background: #ADCEF5;}
ul li:nth-child(even){background: #97C5F9;}